$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;
$color-grey-dark-4:rgba(0,15,26,0.54);
$color-grey-dark-5:#868c8d;
$color-grey-tra:#f3f3f387;

$color-black:black;

$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-primary-green:rgba(40, 180, 133, 0.6);
//font
$default-font-size:1.6rem;
